html,
body,
.u-full-height {
	min-height: 100vh;
}

fieldset {
	border: none;

	legend {
		width: 100%;
	}
}

input,
textarea {
	border: none;
	width: 100%;
	line-height: 1.8em;
}

textarea {
	width: 100%;
	min-height: 145px;
	max-height: 500px;
	resize: vertical;
}

button {
	-webkit-appearance: normal;
	-moz-appearance: normal;
	appearance: normal;
	border: none;
	background: none;
}