.c-input-group {
	overflow: hidden;
	transition: max-height 0.8s ease;

	&--expanded {
		max-height: 1000px;
	}

	&--collapsed {
		max-height: 0;
	}
}

.c-select {
	position: relative;
	height: 39px;
	cursor: pointer;

	input {
		height: 39px;
		width: 100%;
		padding: 7px 10px;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		font-weight: 700;
		background-color: rgba(0, 0, 0, 0.000001); // transparent won't work in IE <11

		&:focus + div,
		& + div:hover {
			max-height: 500px;
		}
	}

	.c-select__list {
		display: block;
		overflow: hidden;
		padding-top: 39px;
		position: absolute;
		width: 100%;
		max-height: 0;
		transition: max-height 0.8s ease;

		&:before {
			content: attr(data-empty);
			font-weight: 700;
			color: map_get($iota-utils-bgcolor-names, dark);
			position: absolute;
			top: 0;
			left: 0;
			height: 39px;
			width: unquote('calc(100% - 35px)');
			padding: 7px 15px;
			line-height: 23px;
		}

		&:after {
			content: unicode("02c5");
			font-weight: 700;
			font-size: 2em;
			position: absolute;
			top: 0;
			right: 8px;
			height: 39px;
			width: 10px;
			padding: 13px 10px;
			box-sizing: border-box;
			line-height: 23px;
			color: map_get($iota-utils-bgcolor-names, dark) !important;
		}

		[type="radio"] {
			opacity: 0;
		}

		span {
			padding: 7px;
			display: block;
			line-height: 23px;
			height: 39px;
			color: map_get($iota-utils-bgcolor-names, dark) !important;
		}

		input:checked + span:before {
			content: attr(data-value);
			font-weight: 700;
			color: map_get($iota-utils-bgcolor-names, dark) !important;
			position: absolute;
			height: 39px;
			width: 100%;
			top: 0;
			left: 0;
			padding: 7px 15px;
		}
	}
}