.u-vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-position-bottom-right {
	bottom: 0;
	right: 0;
}

.u-font--heading {
	font-family: Arial, sans-serif;
}

.u-font--body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.u-cursor--pointer {
	cursor: pointer;
}

.u-border-radius {
	border-radius: 10px;
}

.u-text-shadow--dark {
	text-shadow: 1px 1px map_get($iota-utils-bgcolor-names, dark);
}

.u-gradient--secondary {
	background: map_get($iota-utils-bgcolor-names, secondaryDark);
	background: linear-gradient(0deg, map_get($iota-utils-bgcolor-names, secondaryDark) 0%, map_get($iota-utils-bgcolor-names, secondary) 100%);
}

.u-gradient--tertiary {
	background: map_get($iota-utils-bgcolor-names, tertiary);
	background: linear-gradient(0deg, map_get($iota-utils-bgcolor-names, tertiary) 0%, map_get($iota-utils-bgcolor-names, tertiaryDark) 100%);
}

.u-gradient--darker {
	background: map_get($iota-utils-bgcolor-names, lightest);
	background: linear-gradient(0deg, rgba(map_get($iota-utils-bgcolor-names, darker), 0.48) 0%, rgba(map_get($iota-utils-bgcolor-names, lightest), 0.5) 50%);
}

.u-box-shadow--darkest {
	box-shadow: 0 0 28px 14px rgba(map_get($iota-utils-bgcolor-names, darkest), 0.6);
}

.u-inner-shadow--darkest {
	box-shadow: inset 2px 2px 9px rgba(map_get($iota-utils-bgcolor-names, darkest), 0.48);
}

.u-inner-shadow--lightest {
	box-shadow: inset 2px 2px 0 rgba(map_get($iota-utils-bgcolor-names, lightest), 0.48);
}